.bg-dark {
    background: #a56b0c !important;
}

.text-justify {
    text-align: justify !important;
}

.line-space {
    line-height: 2 !important;
}

.home-imgae-intro {
    width: auto !important;
    height: 450px !important;
}

.knee-joint-image {
    width: auto !important;
    height: 450px !important;
}

.anatomy-image {
    width: auto !important;
    height: calc(100vh - 190px) !important;
}


.bg-primary {
    color: white !important;
    background-color: white !important;
}

.nav-link {
    color: white !important;
}

.active {
    color: #a56b0c  !important;
    background: white !important;
}

.page-size {
    width: 100%;
    height: calc(100vh - 130px);
    overflow: auto;
    display: block;
    padding: 0 200px 0 200px;
}

.anatomy-page {
    width: 100%;
    display: flex;
    justify-content: center;
}

#myVideo {
    width: 100%;
    height: auto;
}

